*,::before,::after{
    box-sizing: border-box;

}
:root{
    --text-color:#1a162e;
    --icon-color: brightness(0) saturate(100%) invert(9%) sepia(54%) saturate(614%) hue-rotate(210deg) brightness(95%) contrast(99%);
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: Gordita,sans-serif;
    color: var(--text-color);
    background-color: var(--body-bg);
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    border: none;
    outline: none;
    background:transparent;
}
button,input,textarea,select,a,img{
    font-family: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}
.icon{
    filter: var(--icon-color);
}